body {
  font-size: 18px;
}

h1 {
  background-color: #a52a2a;
  text-align: center;
  color: white;
}

.article img {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images {
  text-align: center;
}

.images img {
  border: 2px dashed black;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
}
